<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="Manage your university now with UMS"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" type="ico" href="/static/imges/horus.png"/>
        <link rel="stylesheet" href="/static/css/add.css">
    </head>
    <body>
        <form action="/de" method="POST">
            <label for="id">Student id</label>
            <input class="inp" type="number" id="id" title="Please type Student id" name="sid" autocomplete="off" required>
            <style>
                input{
                    margin-left: 630px;
                }
            </style>
            <input type="submit" id="sub">
            <br>
        </form>
    </body>
</html>