<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="Manage your university now with UMS"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>UMS</title>
        <link type="ico" rel="icon" href="/static/imges/horus.png"/>
    </head>
    <body>
        <header>
            <button>Add</button>
            <button>Delete</button>
            <button>Edit</button>
        </header>
    </body>
</html>